/* ----- None ----- */
.custom{
	background: transparent !important;
}

/* ----- None ----- */
.default{
	background: #25c7e9 !important;
}

/* ----- Lime ----- */
.lime{
	background: #a4c400 !important;
}

/* ----- Green ----- */
.green{
	background: #60a917 !important;
}

/* ----- Emerald ----- */
.emerald{
	background: #008a00 !important;
}

/* ----- Teal ----- */
.teal{
	background: #00aba9 !important;
}

/* ----- Cyan ----- */
.cyan{
	background: #1ba1e2 !important;
}

/* ----- Cobalt ----- */
.cobalt{
	background: #0050ef !important;
}

/* ----- Indigo ----- */
.indigo{
	background: #6a00ff !important;
}

/* ----- Violet ----- */
.violet{
	background: #aa00ff !important;
}

/* ----- Pink ----- */
.pink{
	background: #f472d0 !important;
}

/* ----- Magenta ----- */
.magenta{
	background: #d80073 !important;
}

/* ----- Crimson ----- */
.crimson{
	background: #a20025 !important;
}

/* ----- Red ----- */
.red{
	background: #e51400 !important;
}

/* ----- Orange ----- */
.orange{
	background: #fa6800 !important;
}

/* ----- Amber ----- */
.amber{
	background: #f0a30a !important;
}

/* ----- Yellow ----- */
.yellow{
	background: #e3c800 !important;
}

/* ----- Brown ----- */
.brown{
	background: #825a2c !important;
}

/* ----- Olive ----- */
.olive{
	background: #6d8764 !important;
}

/* ----- Steel ----- */
.steel{
	background: #647687 !important;
}

/* ----- Mauve ----- */
.mauve{
	background: #76608a !important;
}

/* ----- Sienna ----- */
.sienna{
	background: #7a3b3f !important;
}

/* ----- Taupe ----- */
.taupe{
	background: #87794e !important;
}